@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

body.theme-1 {
  margin: 0;
  padding: 0;
  background: var(--theme1-main-background);
  color: var(--theme1-text-white);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-flex {
  /* background: violet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.calculator-header {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.theme-preference {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-preference h5 {
  margin: 0 2em 0 0;
}

.theme-1 .theme-toggle {
  background: var(--theme1-toggle-keypad-background);
  border-radius: 20px;
  padding: 1px 3px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.theme-toggle > input {
  margin: 0.3em;
}

.theme-toggle::before {
  content: "1 2 3";
  position: absolute;
  bottom: 25px;
}

.claculator-grid {
  /* background-color: orange; */
  display: grid;
  grid-gap: 15px;
  grid-template-columns: minmax(200px, 300px);
  grid-template-rows: minmax(70px, auto) auto;
  /* max-width: 100%; */
}

.theme-1 .keypad-grid {
  background: var(--theme1-toggle-keypad-background);
  padding: 20px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
}

.theme-1 .keypad-grid > button {
  font-size: 1.2rem;
  color: var(--theme1-text-blue);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0 4px var(--theme1-key-shadow-orange);
  background-color: var(--theme1-key-background-orange);
}

.span-two {
  grid-column: span 2;
}

.output {
  /* background: cyan; */
  background-color: var(--theme1-screen-background);
  grid-column: 1 / -1;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
}

.output .current-operand {
  font-size: 1.5rem;
}

.theme-1 .keypad-grid .background-blue {
  background: var(--theme1-key-background-blue);
  box-shadow: 0 4px var(--theme1-key-shadow-blue);
  color: var(--theme1-text-white);
}

.theme-1 .keypad-grid .background-red {
  background: var(--theme1-key-background-red);
  color: var(--theme1-text-white);
  box-shadow: 0 4px var(--theme1-key-shadow-red);
}

/* theme 2 styling */
body.theme-2 {
  background: var(--theme2-main-background);
  color: var(--theme2-text-yellow);
}

.theme-2 .theme-toggle {
  background: var(--theme2-toggle-keypad-background);
}

.theme-2 .keypad-grid {
  background: var(--theme2-toggle-keypad-background);
}

.theme-2 .keypad-grid > button {
  box-shadow: 0 4px var(--theme2-key-shadow-orange);
  background-color: var(--theme2-key-background-yellow);
}

.theme-2 .output {
  background-color: var(--theme2-screen-background);
}

.theme-2 .keypad-grid .background-blue {
  background: var(--theme2-key-background-cyan);
  box-shadow: 0 4px var(--theme2-key-shadow-cyan);
}

.theme-2 .keypad-grid .background-red {
  background: var(--theme2-key-background-orange);
  box-shadow: 0 4px var(--theme2-key-shadow-dark-orange);
}

/* theme 3 styling */
body.theme-3 {
  background: var(--theme3-main-background);
  color: var(--theme3-text-yellow);
}

.theme-3 .theme-toggle,
.theme-3 .keypad-grid,
.theme-3 .output {
  background: var(--theme3-toggle-keypad-background);
}

.theme-3 .keypad-grid > button {
  box-shadow: 0 4px var(--theme3-key-shadow-dark-magenta);
  background-color: var(--theme3-key-background-dark-violet);
  color: var(--theme3-text-yellow);
}

.theme-3 .keypad-grid .background-blue {
  background: var(--theme3-key-shadow-dark-magenta);
  box-shadow: 0 4px var(--theme3-key-shadow-magenta);
}

.theme-3 .keypad-grid .background-red {
  background: var(--theme3-key-background-cyan);
  box-shadow: 0 4px var(--theme3-key-shadow-cyan);
  color: var(--theme3-text-blue);
}

@media screen and (min-width: 768px) {
  .claculator-grid {
    grid-template-columns: 400px;
    /* grid-template-rows: minmax(70px, auto) auto; */
  }

  .theme-1 .keypad-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 40px);
    grid-gap: 18px;
  }
}
