@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.calculator-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.theme-preference {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-preference h5 {
  margin: 0 2em 0 0;
}

.theme-toggle {
  border-radius: 20px;
  padding: 1px 3px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.theme-toggle > input {
  margin: 0.3em;
}

.theme-toggle::before {
  content: "1 2 3";
  position: absolute;
  bottom: 25px;
}

.claculator-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: minmax(200px, 300px);
  grid-template-rows: minmax(70px, auto) auto;
  /* max-width: 100%; */
}

.keypad-grid {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
}

.keypad-grid > button {
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
}

.output .current-operand {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .claculator-grid {
    grid-template-columns: 400px;
    /* grid-template-rows: minmax(70px, auto) auto; */
  }

  .theme-1 .keypad-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 40px);
    grid-gap: 18px;
  }
}
