:root {
  /* backgrounds */
  --theme2-main-background: hsl(0, 0%, 90%);
  --theme2-toggle-keypad-background: hsl(0, 5%, 81%);
  --theme2-screen-background: hsl(0, 0%, 93%);

  /* keys */
  --theme2-key-background-cyan: hsl(185, 42%, 37%);
  --theme2-key-shadow-cyan: hsl(185, 58%, 25%);

  --theme2-key-background-orange: hsl(25, 98%, 40%);
  --theme2-key-shadow-dark-orange: hsl(25, 99%, 27%);

  --theme2-key-background-yellow: hsl(45, 7%, 89%);
  --theme2-key-shadow-orange: hsl(35, 11%, 61%);

  /* text */
  --theme2-text-yellow: hsl(60, 10%, 19%);
}
